In [3]:
import pandas as pd
import requests
import re
import numpy as np
import json
from pandas import json_normalize

#### This notebook is for cleaning of scraped data and preparing it for the map
#### The idea is to plot pending murder cases in five districts of Maharashtra
#### The choice was of Pune, which I'm familiar with and districts around it plus one distant district for the sake of the map

# BEED

In [ ]:
#These are scraped csvs which I'm turning into one district csv.
#Same for the other districts
df_BEED_1 = pd.read_csv('BEED_pending_case_data.csv')
df_BEED_2 = pd.read_csv('BEED_MAJALGAON_pending_case_data.csv')
df_BEED_3 = pd.read_csv('BEED_AMBAJOGAI_pending_case_data.csv')

In [ ]:
df_BEE = pd.concat([df_BEED_1, df_BEED_2, df_BEED_3], axis=0)

In [ ]:
df_BEED = df_BEE.reset_index(drop=True)
df_BEED

In [2]:
df_BEED.to_csv('BEED_pending_cases_F.csv', index=False)

NameError: name 'df_BEED' is not defined

In [18]:
BEED = pd.read_csv('BEED_pending_cases_F.csv', usecols=["CNR Number", "FIR Number", "Year", "Police Station", "First Hearing Date", "Case Stage"])
BEED['District'] = 'Beed'

In [19]:
BEED['fir_number'] = BEED['FIR Number'].astype(str).str.replace(".0", "") + "/" + BEED['Year'].astype(str).str.replace("\.0", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/2603987675.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  BEED['fir_number'] = BEED['FIR Number'].astype(str).str.replace(".0", "") + "/" + BEED['Year'].astype(str).str.replace("\.0", "")

In [20]:
BEED.head()

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHBI010039882022 (Note the CNR number for futu...,11th November 2022,Order on Exh,Talwada Police Station,71.0,2021.0,Beed,71/2021
1,MHBI010038192022 (Note the CNR number for futu...,02nd November 2022,Order on Exh,Peth Beed Police Station,125.0,2022.0,Beed,125/2022
2,MHBI010037822022 (Note the CNR number for futu...,01st November 2022,Appearance,City Police Station Beed,107.0,2022.0,Beed,7/2022
3,MHBI010037742022 (Note the CNR number for futu...,31st October 2022,Charge,Pimpalner Police Station,50.0,2022.0,Beed,/2022
4,MHBI010037142022 (Note the CNR number for futu...,19th October 2022,Filing of Say on Exh___Unready,Rural Police Station Beed,179.0,2022.0,Beed,179/2022

# NASHIK

In [ ]:
df_NASHIK_1 = pd.read_csv('NASHIK_pending_case_data.csv')
df_NASHIK_2 = pd.read_csv('NASHIK_MALEGAON_pending_case_data.csv')
df_NASHIK_3 = pd.read_csv("NASHIK_NIPHAD_pending_case_data.csv")

In [ ]:
df_NASH = pd.concat([df_NASHIK_1, df_NASHIK_2, df_NASHIK_3], axis=0)
df_NASHIK = df_NASH.reset_index(drop=True)

In [14]:
df_NASHIK.to_csv('NASHIK_pending_cases_F.csv', index=False)

NameError: name 'df_NASHIK' is not defined

In [15]:
NASHIK = pd.read_csv('NASHIK_pending_cases_F.csv', usecols=["CNR Number", "FIR Number", "Year", "Police Station", "First Hearing Date", "Case Stage"])
NASHIK['District'] = 'Nashik'

In [16]:
NASHIK['fir_number'] = NASHIK['FIR Number'].astype(str).str.replace(".0", "") + "/" + NASHIK['Year'].astype(str).str.replace("\.0", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/410263124.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  NASHIK['fir_number'] = NASHIK['FIR Number'].astype(str).str.replace(".0", "") + "/" + NASHIK['Year'].astype(str).str.replace("\.0", "")

In [17]:
NASHIK.head(2)

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHNS010066152022 (Note the CNR number for futu...,09th December 2022,Unready Board,INDIRANAGAR POLICE STATION,132,2022.0,Nashik,132/2022
1,MHNS010065562022 (Note the CNR number for futu...,03rd December 2022,Charge,HARSUL POLICE STATION,43,2021.0,Nashik,43/2021

# AHMEDNAGAR

In [ ]:
df_AHMEDNAGAR_1 = pd.read_csv('AHMEDNAGAR_pending_case_data.csv')
df_AHMEDNAGAR_2 = pd.read_csv('AHMEDNAGAR_KOPERGAON_pending_case_data.csv')
df_AHMEDNAGAR_3 = pd.read_csv('AHMEDNAGAR_SHRIRAMPUR_pending_case_data.csv')

In [ ]:
df_AHMED = pd.concat([df_AHMEDNAGAR_1, df_AHMEDNAGAR_2, df_AHMEDNAGAR_3], axis=0)

In [ ]:
df_AHMEDNAGAR = df_AHMED.reset_index(drop=True)

In [ ]:
df_AHMEDNAGAR.to_csv('AHMEDNAGAR_pending_cases_F.csv', index=False)

In [11]:
AHMEDNAGAR = pd.read_csv('AHMEDNAGAR_pending_cases_F.csv', usecols=["CNR Number", "FIR Number", "Year", "Police Station", "First Hearing Date", "Case Stage"])
AHMEDNAGAR['District'] = 'Ahmednagar'

In [12]:
AHMEDNAGAR['fir_number'] = AHMEDNAGAR['FIR Number'].astype(str).str.replace(".0", "") + "/" + AHMEDNAGAR['Year'].astype(str).str.replace("\.0", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/3793287486.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  AHMEDNAGAR['fir_number'] = AHMEDNAGAR['FIR Number'].astype(str).str.replace(".0", "") + "/" + AHMEDNAGAR['Year'].astype(str).str.replace("\.0", "")

In [13]:
AHMEDNAGAR.head()

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHAH010075382022 (Note the CNR number for futu...,22nd November 2022,First Order,Shevgaon Police Station,556,2022.0,Ahmednagar,556/2022
1,MHAH010074972022 (Note the CNR number for futu...,23rd November 2022,Argument on Exh.____Ready,MIDC Police Station,536,2021.0,Ahmednagar,536/2021
2,MHAH010072892022 (Note the CNR number for futu...,17th November 2022,First Order,Parner Police Station,648,2022.0,Ahmednagar,648/2022
3,MHAH010072842022 (Note the CNR number for futu...,14th November 2022,Charge,Tophkhana Police Station,701,2022.0,Ahmednagar,1/2022
4,MHAH010068312022 (Note the CNR number for futu...,21st October 2022,Charge,Shevgaon Police Station,476,2022.0,Ahmednagar,476/2022

In [1]:
# AHMEDNAGAR.petitioner_and_advocate = AHMEDNAGAR.petitioner_and_advocate.apply(lambda line: eval(line))

# PUNE

In [4]:
PUNE = pd.read_csv('PUNE_pending_cases_F.csv', usecols=["CNR Number", "FIR Number", "Year", "Police Station", "First Hearing Date", "Case Stage"])
PUNE['District'] = 'Pune'

In [5]:
PUNE['fir_number'] = PUNE['FIR Number'].astype(str).str.replace(".0", "") + "/" + PUNE['Year'].astype(str).str.replace("\.0", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/2214618526.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  PUNE['fir_number'] = PUNE['FIR Number'].astype(str).str.replace(".0", "") + "/" + PUNE['Year'].astype(str).str.replace("\.0", "")

In [6]:
PUNE.head()

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHPU140042502022 (Note the CNR number for futu...,20th December 2022,Unready Board,WALCHANDNAGAR P.S.,2.0,2022.0,Pune,2/2022
1,MHPU140040712022 (Note the CNR number for futu...,28th November 2022,Production of Accused,YAWAT P.S.,601.0,2022.0,Pune,1/2022
2,MHPU140039602022 (Note the CNR number for futu...,25th November 2022,Unready Board,VADGAON NIMBALKAR,293.0,2022.0,Pune,293/2022
3,MHPU140037862022 (Note the CNR number for futu...,01st November 2022,Unready Board,YAWAT P.S.,1085.0,2020.0,Pune,85/2020
4,MHPU140035312022 (Note the CNR number for futu...,13th October 2022,Production of Accused,YAWAT P.S.,479.0,2022.0,Pune,479/2022

In [ ]:
PUNE.respondent_and_advocate.apply(lambda line: eval(line))

# NAGPUR

In [ ]:
df_nagpur1 = pd.read_csv('NAGPUR_pending_case_data.csv')
df_nagpur2 = pd.read_csv('NAGPUR_pending_case_data_empty_column.csv')

In [ ]:
df_NAGPUR = pd.concat([df_nagpur1, df_nagpur2], axis=0)

In [ ]:
#df_NAGPUR.to_csv('NAGPUR_pending_cases_F.csv')
#I accidently deleted this step and renetered it but do not want to overwrite the csv. 
#So just retaining the code I used to do it without running it since the csv already exists.

In [7]:
NAGPUR = pd.read_csv('NAGPUR_pending_cases_F.csv', usecols=["CNR Number", "FIR Number", "Year", "Police Station", "First Hearing Date", "Case Stage"])
NAGPUR['District'] = 'Nagpur'

In [8]:
NAGPUR['fir_number'] = NAGPUR['FIR Number'].astype(str).str.replace(".0", "") + "/" + NAGPUR['Year'].astype(str).str.replace("\.0", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/483830842.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  NAGPUR['fir_number'] = NAGPUR['FIR Number'].astype(str).str.replace(".0", "") + "/" + NAGPUR['Year'].astype(str).str.replace("\.0", "")

In [9]:
NAGPUR.head()

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHNG010120982022 (Note the CNR number for futu...,12th December 2022,Appearance,Saoner,686.0,2022.0,Nagpur,686/2022
1,MHNG010120322022 (Note the CNR number for futu...,08th December 2022,Reply/Say,Rana Pratap Nagar,297.0,2022.0,Nagpur,297/2022
2,MHNG010120232022 (Note the CNR number for futu...,03rd December 2022,Appearance,Rly Police Stn,625.0,2022.0,Nagpur,625/2022
3,MHNG010119502022 (Note the CNR number for futu...,03rd December 2022,Reply/Say,Pardi,277.0,2022.0,Nagpur,277/2022
4,MHNG010117432022 (Note the CNR number for futu...,05th December 2022,Production of Accused,Beltaroli,377.0,2022.0,Nagpur,377/2022

In [ ]:
# Turn the column into a list
NAGPUR.petitioner_and_advocate = NAGPUR.petitioner_and_advocate.apply(lambda line: eval(line))
NAGPUR.head(2)

## Merging all districts in one dataframe

In [21]:
FIVE_DISTRICT = pd.concat([PUNE, AHMEDNAGAR, NAGPUR, BEED, NASHIK], axis=0)
FIVE_DISTRICT = FIVE_DISTRICT.reset_index(drop=True)

In [22]:
FIVE_DISTRICT

,CNR Number,First Hearing Date,Case Stage,Police Station,FIR Number,Year,District,fir_number
0,MHPU140042502022 (Note the CNR number for futu...,20th December 2022,Unready Board,WALCHANDNAGAR P.S.,2.0,2022.0,Pune,2/2022
1,MHPU140040712022 (Note the CNR number for futu...,28th November 2022,Production of Accused,YAWAT P.S.,601.0,2022.0,Pune,1/2022
2,MHPU140039602022 (Note the CNR number for futu...,25th November 2022,Unready Board,VADGAON NIMBALKAR,293.0,2022.0,Pune,293/2022
3,MHPU140037862022 (Note the CNR number for futu...,01st November 2022,Unready Board,YAWAT P.S.,1085.0,2020.0,Pune,85/2020
4,MHPU140035312022 (Note the CNR number for futu...,13th October 2022,Production of Accused,YAWAT P.S.,479.0,2022.0,Pune,479/2022
...,...,...,...,...,...,...,...,...
3158,MHNS100005492021 (Note the CNR number for futu...,28th April 2021,Awaiting Muddemal,PIMPALGAON POLICE STATION,22,2021.0,Nashik,22/2021
3159,MHNS100004402016 (Note the CNR number for futu...,10th May 2016,Hearing,LASALGAON POLICE STATION,3,2016.0,Nashik,3/2016
3160,MHNS110038562022 (Note the CNR number for futu...,21st September 2022,Appearance,LASALGAON POLICE STATION,123,2022.0,Nashik,123/2022
3161,MHNS110022482021 (Note the CNR number for futu...,30th June 2021,N.B.W._Unready,NIPHAD POLICE STATION,367,2021.0,Nashik,367/2021
3162,MHNS110019402017 (Note the CNR number for futu...,21st September 2017,Proclomation,NIPHAD POLICE STATION,4,2016.0,Nashik,4/2016

In [23]:
FIVE_DISTRICT.columns = FIVE_DISTRICT.columns.str.replace(" ", "_")

In [24]:
FIVE_DISTRICT.CNR_Number = FIVE_DISTRICT.CNR_Number.str.replace(" \(Note the CNR number for future reference\)", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_2758/2377336829.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  FIVE_DISTRICT.CNR_Number = FIVE_DISTRICT.CNR_Number.str.replace(" \(Note the CNR number for future reference\)", "")

In [25]:
#Turning first hearing date column into date-time type

FIVE_DISTRICT['dt_type_First_Hearing'] = pd.to_datetime(FIVE_DISTRICT['First_Hearing_Date'])

In [26]:
#This new column shows the period between when the case was registered and when it finally went to trial

FIVE_DISTRICT['time_taken_to_reach_trial'] = FIVE_DISTRICT['dt_type_First_Hearing'].dt.year - FIVE_DISTRICT['Year']

In [27]:
#This new column shows the period for which each row has been on trial i.e., pending in court as of 2022

FIVE_DISTRICT['pending_for'] = 2022 - FIVE_DISTRICT['dt_type_First_Hearing'].dt.year

In [40]:
FIVE_DISTRICT[FIVE_DISTRICT.Year == 1015]

,CNR_Number,First_Hearing_Date,Case_Stage,Police_Station,FIR_Number,Year,District,fir_number,dt_type_First_Hearing,time_taken_to_reach_trial,pending_for
1048,MHPU010070402015,06th July 2015,Evidence Part Heard,SHIVAJINAGAR POLICE STATION,43.0,1015.0,Pune,43/1015,2015-07-06,1000.0,7.0

In [29]:
#Updated the dataframe to avoid 8 cases which had year of registration as 0.0
FIVE_DISTRICT = FIVE_DISTRICT[FIVE_DISTRICT.Year != 0]

In [30]:
#This provides the number of cases that have taken same number of years to reach trial period.
#It seems prudent to mention that this whole dataset is of pending murder cases
FIVE_DISTRICT_COUNT = FIVE_DISTRICT.groupby('District')['time_taken_to_reach_trial'].value_counts().reset_index(name='district_wise_count')
FIVE_DISTRICT_COUNT

      District  time_taken_to_reach_trial  district_wise_count
0   Ahmednagar                        0.0                  115
1   Ahmednagar                        1.0                   80
2   Ahmednagar                        2.0                    9
3   Ahmednagar                        3.0                    3
4   Ahmednagar                        4.0                    2
..         ...                        ...                  ...
81        Pune                       11.0                    1
82        Pune                       13.0                    1
83        Pune                       21.0                    1
84        Pune                       30.0                    1
85        Pune                     1000.0                    1

[86 rows x 3 columns]

In [31]:
#This provides the percent of cases that have taken same number of years to reach trial period.
FIVE_DISTRICT_PERCENT = FIVE_DISTRICT.groupby('District')['time_taken_to_reach_trial'].value_counts(normalize=True).reset_index(name='district_wise_count_pct')
FIVE_DISTRICT_PERCENT

      District  time_taken_to_reach_trial  district_wise_count_pct
0   Ahmednagar                        0.0                 0.520362
1   Ahmednagar                        1.0                 0.361991
2   Ahmednagar                        2.0                 0.040724
3   Ahmednagar                        3.0                 0.013575
4   Ahmednagar                        4.0                 0.009050
..         ...                        ...                      ...
81        Pune                       11.0                 0.000751
82        Pune                       13.0                 0.000751
83        Pune                       21.0                 0.000751
84        Pune                       30.0                 0.000751
85        Pune                     1000.0                 0.000751

[86 rows x 3 columns]

In [38]:
#The percent and count tables were merged in order to give a clearer picture.
#Merge command commented out because it kept messing with the dataframe everytime I ran it.
New_df = pd.merge(FIVE_DISTRICT_PERCENT, FIVE_DISTRICT_COUNT)
New_df.head()

,District,time_taken_to_reach_trial,district_wise_count_pct,district_wise_count
0,Ahmednagar,0.0,0.520362,115
1,Ahmednagar,1.0,0.361991,80
2,Ahmednagar,2.0,0.040724,9
3,Ahmednagar,3.0,0.013575,3
4,Ahmednagar,4.0,0.009050,2

In [33]:
#Changing the formats in order to make it fit for properties.article

New_df['district_wise_count_pct'] = New_df['district_wise_count_pct']*100
New_df['district_wise_count'] = New_df['district_wise_count'].astype(str)

In [34]:
#Rounding up the numbers for the map
New_df['district_wise_count_pct'] = New_df['district_wise_count_pct'].round(3)

In [35]:
#Changed the data type to integer from float to fit in the article statement
New_df['time_taken_to_reach_trial'] = New_df['time_taken_to_reach_trial'].astype(int)

In [36]:
#Building the article sentence

New_df['string'] = "In " + New_df['District'] + " district " + New_df['district_wise_count'].astype(str) + np.where(New_df["district_wise_count"] > '1', ' murder cases', ' murder case') + " took" + " " + New_df['time_taken_to_reach_trial'].astype(str) + " years to reach trial." + np.where(New_df["district_wise_count"] == '1', " It accounts", " They account") + " for " + New_df['district_wise_count_pct'].astype(str) + "% of total pending cases."

In [37]:
New_df.head(10)

,District,time_taken_to_reach_trial,district_wise_count_pct,district_wise_count,string
0,Ahmednagar,0,52.036,115,In Ahmednagar district 115 murder cases took 0...
1,Ahmednagar,1,36.199,80,In Ahmednagar district 80 murder cases took 1 ...
2,Ahmednagar,2,4.072,9,In Ahmednagar district 9 murder cases took 2 y...
3,Ahmednagar,3,1.357,3,In Ahmednagar district 3 murder cases took 3 y...
4,Ahmednagar,4,0.905,2,In Ahmednagar district 2 murder cases took 4 y...
5,Ahmednagar,5,0.905,2,In Ahmednagar district 2 murder cases took 5 y...
6,Ahmednagar,10,0.905,2,In Ahmednagar district 2 murder cases took 10 ...
7,Ahmednagar,6,0.452,1,In Ahmednagar district 1 murder case took 6 ye...
8,Ahmednagar,8,0.452,1,In Ahmednagar district 1 murder case took 8 ye...
9,Ahmednagar,9,0.452,1,In Ahmednagar district 1 murder case took 9 ye...

In [ ]:
#This adds html elements to the properties.article column

output_2 = New_df.groupby('District')['string'].apply(lambda x: "<div class='movie_list'><h1><b>Rotting Cases in Indian Courts</b></h1><P>{0}</P></div>".format('</p><p> '.join(x))).reset_index(name='properties.article')
output_2

In [ ]:
#Spot check

output_2.iloc[2]['properties.article']

In [ ]:
#Adding properties.headline

#total_cases_num = FIVE_DISTRICT.groupby('District')['FIR_Number'].nunique().reset_index(name='properties.headline')
total_cases_num.to_csv('total_pending_murder_cases.csv', index=False)

In [ ]:
#Merging the dataset to get one row/location
#Commented out to avoid messup.

DATA = output_2.merge(total_cases_num, how='left', on='District')
DATA

In [ ]:
#Making headline readable for map viewer
DATA['properties.headline'] = DATA['properties.headline'].astype(str) + ' murder cases are pending trial here'

In [ ]:
#Spot check

DATA.iloc[2]['properties.headline']

In [ ]:
#CLEANUP, BECAUSE I MESSED UP AND ADDED STRING THREE TIMES

DATA['properties.headline'] = DATA['properties.headline'].str.replace("murder cases are pending trial here murder cases are pending trial here murder cases are pending trial here", "")

In [ ]:
#Now adding the string back to headlines
DATA['properties.headline'] = DATA['properties.headline'].astype(str) + ' murder cases are pending trial here'

In [ ]:
#Spot check 2
DATA.iloc[2]['properties.headline']

In [ ]:
DATA

In [ ]:
#Stole this code from Jon's notebook
def by_color(cell):
    if cell == "Something something":
        num = 0
    else:
        num = int(cell)
    if num >= 8:
        return "#0000FF"
    elif num >= 4:
        return "#00FF00"
    else:
        return "#FF0000"

In [ ]:
#Applying the colour selector function and creating a color column

DATA['properties.color'] = DATA.apply(lambda x: rand_color(), axis=1)

In [ ]:
DATA

In [ ]:
#Spot check 3

DATA.iloc[2]['properties.article']

#The data is now ready to be merged with geo data

### I found a file on the GitHub of [Hindustan Times](https://github.com/HindustanTimesLabs/shapefiles/blob/master/india/district/india_2011_district.zip) that had shape files for all districts in India

### I put it in Mapshaper and exported it in geojson format

In [ ]:
##Load the geojson file Exported from Mapshaper

with open('India_districts.geojson') as json_data:
    geometry_data = json.load(json_data)

In [ ]:
geometry_data['features']

In [ ]:
# Ran the geojson through pandas to make it tabular/readable
df = pd.DataFrame.from_dict(json_normalize(geometry_data['features']), orient='columns')
df.head()

In [ ]:
#Dropped columns that were redundant

df2 = df.drop(df.columns[[0, 1, 2, 3, 4]], axis=1)

In [ ]:
df2.head()

#### 1. Spot check for all districts' names due to spelling mistakes
#### 2. Change spelling using df.replace

In [ ]:
#Beed
df2[df2['properties.district'] == 'Bid'] = df2[df2['properties.district'] == 'Bid'].replace("Bid", "Beed")

In [ ]:
#Ahmednagar
df2[df2['properties.district'] == 'Ahmadnagar'] = df2[df2['properties.district'] == 'Ahmadnagar'].replace("Ahmadnagar", "Ahmednagar")

In [ ]:
#These three were fine
df2[df2['properties.district'] == 'Nashik']
df2[df2['properties.district'] == 'Pune']
df2[df2['properties.district'] == 'Nagpur']

# My data + merging geo columns for the map

In [ ]:
DATA

In [ ]:
#merging my districts data
#Sentence commented out to avoid mess-up
results = pd.merge(df2, DATA, left_on='properties.district', right_on='District')
results

### Turning result into geojson

In [ ]:
ok_json = json.loads(results.to_json(orient='records'))

In [ ]:
ok_json

In [ ]:
def process_to_geojson(file):
    geo_data = {"type": "FeatureCollection", "features":[]}
    for row in file:
        this_dict = {"type": "Feature", "properties":{}, "geometry": {}}
        for key, value in row.items():
            key_names = key.split('.')
            if key_names[0] == 'geometry':
                this_dict['geometry'][key_names[1]] = value
            if str(key_names[0]) == 'properties':
                this_dict['properties'][key_names[1]] = value
        geo_data['features'].append(this_dict)
    return geo_data

In [ ]:
geo_format = process_to_geojson(ok_json)

In [ ]:
geo_format

In [ ]:
#Variable name
with open('geo-data12-6.js', 'w') as outfile:
    outfile.write("var infoData = ")
#geojson output
with open('geo-data12-6.js', 'a') as outfile:
    json.dump(geo_format, outfile)